
@media screen and (max-width: 400px){

    /* navbar section style  */
    .nav-container{
       flex-direction: column;
    }
    .nav-item{
        flex-direction: column;
    }
   .nav-item a {
    margin-top: 10px;
   }
   .login-btn{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
   }
   .nav-item-container{
    width: 100%;
   }
   .logo-container p span{
    font-size: 10px;
   }
   /* nav section end  */

   .banner-container{
   flex-direction: column;
 /*   width: 50%; */
   align-items: center;
}
.banner-text .banner-img{
    width: 100%;
}
.banner-photo{
    width: 100%;
}
.banner-text h1{
    font-size: 20px;
}
.banner-img{
    width: 100%;
}
.banner-text{
    width: 100%;
}
}